.superDiv{
	float: left;
	z-index: 0;
	width: : 1000px;
	height: : 100px;
	border:solid;
	border-color:blue;
	border-width: 1px;
	overflow-y:visible;
	overflow-x:hidden;
	overflow: auto;
}
.dataDiv{
	float: right;
	border: solid;
	border-width: 1px;
}
.dataBar{
	white-space: nowrap; 
	overflow: visible;
	position: absolute;
}
body{
	background-color: lightgray;
}
